<div class="container header">
    <div class="row">
        <div class="col-12 col-12 d-flex aling-items-center justify-content-end mb-3">
            <nav class="navbar">
                <div class="container-md">
                    <div id="login" class="d-flex login">
                        <img src="../../../assets/images/Icons/person-fill.svg" alt="User" class="login-img">
                        
                        <a routerLink="/login/entrar">
                            <span>Login</span>
                            <span id="lineBetween">|</span>
                            <span>Admin</span>
                        </a>
                    </div>
                </div>
            </nav>
        </div>

        <div class="col-12 d-flex aling-items-center justify-content-center mb-5">
                <div id="titulo" class="d-flex titulo">
                    <h1>capi</h1>
                    <a routerLink="/main">
                        <img src="../assets/images/capi.png" alt="logo" class="img-logo">
                    </a>
                    <h1>tech</h1>
                </div>
        </div>

        <div class="col-12 d-flex align-items-center justify-content-center mb-3 subtitle">
          <p>Aprendendo com quem aprende.</p>
        </div>
    </div>
</div>

