<div class="d-flex align-items-center justify-content-around flex-wrap">
    <div *ngFor="let item of items" class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4 d-flex justify-content-center align-items-center px-3">
            <img src='../../../../assets/images/ali.jpg' class="img-fluid rounded-start backImg" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Curso de: {{item.course}}</h5>
              <p class="card-text content">{{item.content}}</p>
              <p class="card-text"><small class="text-body-secondary">{{item.course.toUpperCase()}}</small></p>
              <div class="d-flex gap-2 justify-content-center align-items-center mt-4">
                  <button *ngIf="role" class="btn btn-outline-info editButton">Editar</button>
                  <button *ngIf="role" class="btn btn-outline-danger">Remover</button>
                  <a href="/">
                    <button type="button" class="btn btn-outline-dark editButton">
                      Acessar
                    </button>
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
<!-- <div class="d-flex align-items-center justify-content-around flex-wrap">
    <div *ngFor="let conteudo of conteudos" class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4 d-flex justify-content-center align-items-center px-3">
            <img src={{conteudo.caminhoImg}} class="img-fluid rounded-start backImg" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Curso de: {{conteudo.nome}}</h5>
              <p class="card-text content">{{conteudo.descricao}}</p>
              <p class="card-text"><small class="text-body-secondary">{{conteudo.nome.toUpperCase()}}</small></p>
              <div class="d-flex gap-2 justify-content-center mt-4">
                  <button *ngIf="role" class="btn btn-outline-info editButton">Editar</button>
                  <button *ngIf="role" class="btn btn-outline-danger">Remover</button>
                  <a href="/">
                    <button type="button" class="btn btn-outline-dark editButton">
                      Acessar
                    </button>
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
</div> -->
