<div class="main container position-relative">

    <div class="main-items row d-flex align-items-center justify-content-center">
        <div class="col-md-3 mb-5">
            <div class="card-main lightBlueContainer">
                <img src="../../../assets/images/coding.png" class="icon-main" alt="Code">
                <p>Aprenda</p>
                <p>Programação</p>
            </div>
        </div>
        <div class="col-md-3 mb-5">
            <div class="card-main redContainer">
                <img src="../../../assets/images/game-development.png" class="icon-main" alt="Challenges">
                <p>Conclua</p>
                <p>Seus desafios</p>
            </div>
        </div>
        <div class="col-md-3 mb-5">
            <div class="card-main purpleContainer">
                <img src="../../../assets/images/video-lecture.png" class="icon-main" alt="Video">
                <p>Veja</p>
                <p>Vídeo aulas</p>
            </div>
        </div>
        <div class="col-md-3 mb-5">
            <div class="card-main brownContainer">
                <img src="../../../assets/images/best.png" class="icon-main" alt="Test">
                <p>Passe</p>
                <p>No vestibular</p>
            </div>
        </div>
    </div>

    <div class="row mt-5 d-flex align-items-center justify-content-center">
        <div class="col-12 text-center description-main d-flex flex-column align-items-center justify-content-center mb-5">
            <img class="mb-5" src="../../../assets/images/pc-book.png" alt="">
            <h2>O LUGAR CERTO PARA APRENDER PROGRAMAÇÃO E TESTAR SEUS CONHECIMENTOS.</h2>
        </div>

        <div class="col-lg-6 mb-5">
            <div class="card-description">
                <img src="../../../assets/images/ideas.png" alt="Brainstorm">
                <p class="cd-title">Aprenda em conjunto tendo colegas para ajudar</p>
                <p>Tenha o ambiente de faculdade de onde estiver, é um ambiente propício para a criação de redes de contatos e conexões profissionais</p>
            </div>
        </div>

        <div class="col-lg-6 mb-5">
            <div class="card-description">
                <img src="../../../assets/images/fast-time.png" alt="Clock">
                <p  class="cd-title">Estudar junto para economizar tempo</p>
                <p>Através da distribuição das tarefas e responsabilidades, e a possibilidade de esclarecer dúvidas e receber ajuda em conjunto, acelerando o processo de aprendizagem.</p>
            </div>
        </div>

        <div class="row d-flex align-items-center justify-content-center mb-5">
            <div class="col-lg-10 about text-center">
                <img src="../../../assets/images/Sobre Nós.png" alt="">
                <p>O projeto 'CapiTech' tem por objetivo incentivar, facilitar e compartilhar conteúdo voltado para a área da programação e tecnologia. Acreditamos que a educação tecnológica é essencial nos dias de hoje, e buscamos proporcionar um ambiente rico em recursos e conhecimentos para aqueles interessados em aprender e se envolver com programação.​Nosso propósito é tornar a programação acessível a todos, independentemente de sua experiência prévia. Desejamos ser uma fonte confiável de informações, dicas e tutorias. Além disso, estamos comprometidos em fomentar uma comunidade colaborativa, na qual os membros possam compartilhar suas experiências, fazer networking e encontrar apoio mútuo.</p>
            </div>
        </div>

        <div class="row my-5">
            <app-conteudo></app-conteudo>
        </div>
    </div>

</div>
