<header>
    <app-header></app-header>
</header>

<br>

<!---<main>
  <aside>
      <ul>
          <a href="index.html"><li>Início</li></a>
          <a href="./Pages/trilhas.html"><li>Trilhas de aprendizagem</li></a>
          <a href="./Pages/vestibular.html"><li>Vestibular</li></a>
          <a href="./Pages/sobre.html"><li>Sobre</li></a>
      </ul>

      <button id="closeAside">
          <img src="../assets/images/Icons/close.svg" alt="Close">
      </button>
  </aside>

  <section id="apresentacao">
      <div id="containersApresentacao">
          <div class="container lightBlueContainer">
              <img src="../../../assets/images/coding.png" alt="Code">
              <p>Aprenda</p>
              <p>Programação</p>
          </div>
          <div class="container redContainer">
              <img src="../../../assets/images/game-development.png" alt="Challenges">
              <p>Conclua</p>
              <p>Seus desafios</p>
          </div>
          <div class="container purpleContainer">
              <img src="../../../assets/images//video-lecture.png" alt="Video">
              <p>Veja</p>
              <p>Vídeo aulas</p>
          </div>
          <div class="container brownContainer">
              <img src="../../../assets/images/best.png" alt="Test">
              <p>Passe</p>
              <p>No vestibular</p>
          </div>
      </div>
  </section>

  <section id="introducao">
      <div class="intro">
          <img src="../../../assets/images/pc-book.png" alt="Learn">
          <h2>o lugar certo para aprender programação e testar seus conhecimentos.</h2>
      </div>
      <div id="contentContainers">

          <div class="contentInfo">
              <img src="../../../assets/images/ideas.png" alt="Brainstorm">
              <p>Aprenda em conjunto tendo colegas para ajudar</p>
              <p>Tenha o ambiente de faculdade de onde estiver, é um ambiente propício para a criação de redes de contatos e conexões profissionais</p>
          </div>

          <div class="contentInfo">
              <img src="../../../assets/images/fast-time.png" alt="Clock">
              <p>Estudar junto para economizar tempo</p>
              <p>Através da distribuição das tarefas e responsabilidades, e a possibilidade de esclarecer dúvidas e receber ajuda em conjunto, acelerando o processo de aprendizagem.</p>
          </div>

          <div class="contentInfo">
              <img src="../../../assets/images/equipe.png" alt="Equipes">
              <p>Amplie sua Rede de Contatos Profissionais</p>
              <p>Essa dinâmica de aprendizado em equipe desenvolve habilidades de comunicação, colaboração, resolução de conflitos e tomada de decisões coletivas, preparando os alunos para se destacarem no mercado de trabalho.</p>
          </div>

          <div class="contentInfo">
              <img src="../../../assets/images/networking.png" alt="Networking">
              <p>Aprendizado Acelerado e Colaborativo</p>
              <p>O projeto foca no desenvolvimento de habilidades técnicas e interpessoais por meio de projetos colaborativos. Os participantes aprimoram a comunicação, trabalho em equipe e resolução de problemas, preparando-se para o mercado de trabalho. Essas competências são cruciais para alcançar o sucesso profissional.</p>
          </div>
      </div>

      <a href="./Pages/trilhas.html">
          <button class="linkPagesButton">
              <span>Trilhas de aprendizagem</span>
              <img src="../assets/images/Icons/arrow-right.svg" alt="Arrow">
          </button>
      </a>
  </section>

  <section id="centroPagina">
      <div class="intro">
          <img src="../../../assets/images/rede.png" alt="Internet">
          <h2>um site de estudos feito por estudantes!</h2>
      </div>
      <div class="aboutWebContainer">
          <img src="../../../assets/images/ideas.png" alt="alt">
          <p>Bem-vindo ao "CapiTech" - um site de estudos feito por estudantes. Nosso objetivo é tornar a programação e a tecnologia acessíveis a todos, oferecendo um ambiente rico em recursos e conhecimentos. Somos uma fonte confiável de informações, dicas e tutoriais.</p>
      </div>

      <div class="aboutWebContainer">
          <img src="../../../assets/assets/images/equipe.png" alt="alt">
          <p>No "CapiTech", você encontrará uma comunidade colaborativa onde pode compartilhar experiências, fazer networking e receber apoio mútuo. Queremos ser uma fonte confiável de informações, dicas e tutoriais, e tornar a programação acessível a todos, independentemente de sua experiência prévia. Junte-se a nós e comece sua jornada de aprendizado em programação e tecnologia.</p>
      </div>

      <a href="./Pages/sobre.html">
          <button class="linkPagesButton">
              <span>Saiba mais sobre nós</span>
              <img src="../assets/images/Icons/arrow-right.svg" alt="Arrow">
          </button>
      </a>
  </section>

  <section id="faculdade">
      <div class="intro">
          <img src="../../../assets/images/college-emb.png" alt="faculdade">
          <div>
              <h2>Venha fazer parte da</h2>
              <span>fatec!</span>
          </div>
      </div>

      <div id="college">
          <div id="aboutCollege">
              <p>Fique por dentro das provas, vestibulares e saiba como se preparar para ingressar em uma faculdade pública do estado de São Paulo.</p>
          </div>

          <p>Tenha acesso à gabaritos, informações sobre a faculdade e muitos mais.</p>

          <div id="imagesCollege">
              <img src="../../../assets/images/calendar.png" alt="Calendario">
              <img src="../../../assets/images/approved.png" alt="Test">
              <img src="../../../assets/images/books.png" alt="Books">
          </div>

          <a href="./Pages/vestibular.html">
              <button class="linkPagesButton">Clique e acesse agora informações sobre o vestibular</button>
          </a>
      </div>


  </section>

  <div id="modal">
      <div id="modalLogin">
          <div id="icones">
              <img src="../assets/images/Icons/person-fill.svg" alt="Login">
              <div>
                  <span>Login</span>
                  <span class="lineBetween">|</span>
                  <span>Resgistre-se</span>
              </div>
              <button id="closeModal">
                  <img src="../assets/images/Icons/close.svg" alt="Close modal">
              </button>
          </div>

          <div id="loginModal">
              <h3>Olá, seja bem vindo ao Capi.Tech</h3>

              <p>Faça o login ou registre-se para manter toda sua jornada salva.</p>

              <input type="text" name="login" id="userLogin" placeholder="Digite o username ou o e-mail">

              <input type="password" name="passwordLogin" id="passwordLogin" placeholder="Digite sua senha">

              <button class="linkPagesButton">Login</button>
              <button class="linkPagesButton">Registre-se</button>

              <p>Esqueci minha senha</p>

          </div>

      </div>

  </div>


</main>
-->

<footer>
    <app-footer></app-footer>
</footer>
