<div class="container login-container">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-7 login-card my-5">
            <section class="login-header">
                <div class="login-img">
                    <i class="fa-solid fa-user fa-beat"></i>
                </div>
                <div class="login-description">
                    <span>Login | Registro do Admin</span>
                </div>
            </section>

            <section class="login-content">

                <h1 class="mb-5">
                    Olá, seja bem vindo ao Capi.Tech
                </h1>

                <div class="login-input">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control login-input" id="floatingInput" placeholder="nome@email.com">
                        <label for="floatingInput">Email</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control login-input" id="floatingPassword" placeholder="Senha">
                        <label for="floatingPassword">Senha</label>
                    </div>
                </div>

                <div class="login-button mt-5 mb-3 d-flex justify-content-around">
                    <a class="btn-login">Login</a>
                    <a class="btn btn-login" routerLink="/login/cadastro">Registrar</a>
                </div>

            </section>
        </div>
    </div>
</div>
