.login-container {
    padding: 0 20px;
}

.login-card {
    padding: 0;
    border-radius: 20px;
    background-color: #1e1e1e;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.400) ;
}

.login-header {
    padding: 20px;
    min-height: 80px;
    width: 100%;
    background-color: #838183;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.login-header .login-img {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #1e1e1e;
}

.login-header .login-img i {
    color: white;
    font-size: 15px;
}

.login-header .login-description span {
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.login-content {
    text-align: center;
    width: 100%;
    padding: 30px 40px;
}

.login-content h1 {
    color: white;
    font-weight: 600;
    font-size: 25px;
}

.login-content .login-input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}


.btn-login {
    background-color: #1EA0D1;
    padding: 10px 60px;
    border-radius: 10px;
    box-shadow: -3px 4px 0px #115a75;
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 1rem;
}

.btn-login:last-child {
  background-color: rgb(55, 218, 77);
  box-shadow: -3px 4px 0px rgb(35, 142, 50);
}

.btn-login:active {
    box-shadow: -3px 3px 0px #0c3e50;
    font-size: 0.9rem;
}

.btn-login:last-child:active {
    box-shadow: -3px 3px 0px rgb(28, 115, 39);
    font-size: 0.9rem;
}

@media (max-width: 530px) {
    .login-button {
        flex-direction: column !important;
        gap: 20px;
    }
}

@media (max-width: 450px) {
    .login-content {
        padding: 30px 15px;
    }
    
}




