<div class="container login-container">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-7 login-card my-5">
            <section class="login-header">
                <div class="login-img">
                    <i class="fa-solid fa-user fa-beat"></i>
                </div>
                <div class="login-description">
                    <span>Login | Registro do Admin</span>
                </div>
            </section>

            <section class="login-content">

                <h1 class="mb-5">
                    Olá, seja bem vindo ao Capi.Tech
                </h1>

                <form (ngSubmit)="OnSubmit()">
                    <div class="login-input">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control login-input" id="input-email" name="email" placeholder="nome@email.com" [(ngModel)]="email" autocomplete="off">
                            <label for="input-email">Email</label>
                        </div>
                        <div class="form-floating">
                            <input type="password" class="form-control login-input" id="input-senha" name="senha" placeholder="Senha" [(ngModel)]="senha" autocomplete="off">
                            <label for="input-senha">Senha</label>
                        </div>
                    </div>
    
                    <div class="login-button mt-5 mb-3 d-flex justify-content-around">
                        <button type="submit" class="btn-login">Login</button>
                        <a class="btn btn-login" routerLink="/login/cadastro">Registrar</a>
                    </div>
                </form>

            </section>
        </div>
    </div>
</div>
