#principalImage {
    width: 95%;
    height: 200px;
    margin: 0 auto;
    background-image: url("../../../../assets/images/trails/algoritmos.png");
    background-repeat: no-repeat;
    border-radius: 6px;
}

a {
    text-decoration: none;
    transition: 0.2s all ease-in;
}

a img {
    transform: rotate(180deg);
}

a:visited {
    color: #000;
}

a:hover {
    color: #006eff;
}

.content {
    width: 95%;
    margin: auto;
}

iframe {
    margin: 2rem auto;
}

.courseLink {
    color: #006eff !important;
    margin-top: 4px;
}