<div class="container d-flex flex-wrap justify-content-between align-items-center py-3 footer">
      <p class="col-md-4 mb-0">© 2023 Company, Inc</p>

      <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none capi-img">
        <img src="../../../assets/images/capi.svg" alt="Logo" width="40">
      </a>

      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a routerLink="/main" class="px-2">Home</a></li>
        <li class="nav-item"><a href="./Pages/trilhas.html" class="px-2">Trilhas</a></li>
        <li class="nav-item"><a href="https://www.vestibularfatec.com.br/home/" target="_blank" class="px-2">Vestibular</a></li>
        <li class="nav-item"><a href="./Pages/sobre.html" class="px-2">Sobre</a></li>
      </ul>
</div>
